<div class="footer-two">
    <a href="#">
        <img src="{{ asset('picture/icones/panier.png') }}" alt="Image de flèche retour en arrière" class="img-panier">
    </a>
    <a href="{{ path('app_home') }}">
        <h6>Win'Export</h6>
    </a>
    <a href="{{ path('app_list_wines') }}">
        <img src="{{ asset('picture/icones/arrow_back.png') }}" alt="Image de flèche retour en arrière" class="img-panier">
    </a>
</div>