<nav class="nav-mobile">
    <a href="#accueil" class="nav-item is-active" data-active-color="#71c293" data-target="Home">Accueil</a>
    <a href="#propos" class="nav-item" data-active-color="#c8eaf8" data-target="About">A propos</a>
    <a href="#" class="nav-item inactive">
        <img src="{{ asset('picture/wine-WithoutBG.png') }}" alt="">
    </a>
    <a href="#wineList" class="nav-item" data-active-color="#eeeed3" data-target="Blog">Nos vins</a>
    <a href="#contact" class="nav-item" data-active-color="#71c293" data-target="Contact" id="compte-link">Contact</a>
    <span class="nav-indicator"></span>
</nav>
<nav class="nav-desktop">
    <img src="{{ asset('picture/wine-WithoutBG.png') }}" alt="">
    <div class="nav-list">
        <a href="#" class="nav-item is-active" data-active-color="#71c293" data-target="Home">Accueil</a>
        <a href="#propos" class="nav-item" data-active-color="#c8eaf8" data-target="About">A propos</a>
        <a href="#wineList" class="nav-item" data-active-color="#eeeed3" data-target="Blog">Nos vins</a>
        <a href="#contact" class="nav-item" data-active-color="#71c293" data-target="Contact" id="compte-link">Contact</a>
        <span class="nav-indicator"></span>
    </div>
</nav>
<script>
    const indicator = document.querySelector('.nav-indicator');
    const items = document.querySelectorAll('.nav-item');

    function handleIndicator(el) {
        // Boucler sur tous items -> retirer la classe "is-active"
        items.forEach(item => {
            item.classList.remove('is-active');
            item.removeAttribute('style');
        })

        const elementColor = el.dataset.activeColor;
        const target = el.dataset.target;

        console.log(target);

        // Styliser l'indicateur
        indicator.style.width = `${el.offsetWidth}px`;
        indicator.style.backgroundColor = elementColor;
        indicator.style.left = `${el.offsetLeft}px`;

        // Ajout la classe is-active
        el.classList.add('is-active');
        el.style.color = elementColor;
    }

    items.forEach((item, index) => {
        item.addEventListener('click', e => {
            handleIndicator(e.target)
        });
        item.classList.contains('is-active') && handleIndicator(item);
    });


</script>