<nav class="nav-three">
    <img src="{{ asset('picture/wine-WithoutBG.png') }}" alt="">
    <div class="nav-item-list">
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_list_wines') }}">Nos vins</a>
    </div>
</nav>

