/** Colors  */
  //Green
$green1 : #bde7cb;
$green2 : #71c293;
$green3 : #348354;
$green4 : #326242;
$green5 : #112117;

  //White/Black
$white1 : whitesmoke;
$white2 : #e0e0e0;
$white3 : #a2a2a2;
$white4 : #606060;
$white5 : #2d2d2d;
$white6 : #151515;
  //Beige
$blue1 : #c8eaf8;
$blue2 : #70b7c9;
$blue3: #204c60;
$blue4: #114056;
$blue5: #112a36;
$blue6: #6beee3;
$blue6: #12ffe8;

$beige0: #efefe2;
$beige1: #eeeed3;
$beige2: #b4b48d;
$beige3: #696941;
$beige4: #31311a;

/** Fonts  */
$cursiveTitle: 'Tilt Neon', cursive;
$mainTitle: 'Oregano', cursive;
$subTitle: 'Lato', sans-serif;
$nav : 'arial', sans-serif;
$text : 'Source Sans Pro', sans-serif;



@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mouse+Memoirs&family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
