<h1>Bonjour! Veuillez confirmer votre Email!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Email</a>.
    Ce lien va expirer dans :  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée!
</p>

<h2>Win'Export - Livraison de vin.</h2>
